@page "/tasks"
@inject IConversationService ConversationService

<div class="d-flex justify-center my-4 my-lg-6 align-center gap-4">
    <MudIcon Icon="@Icons.Material.Filled.TaskAlt" Title="Favorite" Size="Size.Large" />
    <MudText Typo="Typo.h5">Action Items</MudText>
</div>

<TaskCard Tasks="@MyActionItems" />

@code {
    private List<ActionItem> MyActionItems = new();

    protected override async Task OnInitializedAsync()
    {
        MyActionItems = await ConversationService.GetAllTasksAsync();
    }
}
