<div style="display: flex; flex-direction: column; flex: 1; min-height: 0;">
    <MudTabs Elevation="2"
             Rounded="true"
             ApplyEffectsToContainer="true"
             PanelClass="pa-6 d-flex flex-column flex-1 min-height-0"
             Outlined="true"
             Centered="true"
             Style="flex: 1; min-height: 0;">
        <MudTabPanel Icon="@Icons.Material.Filled.VoiceChat"
                     Style="flex: 1; display: flex; flex-direction: column; min-height: 0;">
            <TranscriptContainer Messages="@Messages" />
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Summarize">
            <MudText>Summary</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.TaskAlt">
            <MudText>Tasks</MudText>
        </MudTabPanel>
    </MudTabs>
</div>


@code
{
        [Parameter] public List<TranscriptEntry> Messages { get; set; } = [];
}